# Django
SECRET_KEY=your-very-secret-key-here
DJANGO_SETTINGS_MODULE=config.settings.development

PG_SUPERUSER=superuser
PG_HOST=host
PG_PORT=port
DB_NAME=name
MIGRATION_USER=migration_user
MIGRATION_PASS=migration_pass

DATABASE_URL="postgresql://$PG_SUPERUSER:$MIGRATION_PASS@$PG_HOST:$PG_PORT/$DB_NAME"

# Database
# DATABASE_URL=postgres://agri_app:your_password@localhost:5432/agriculture_intelligente

# Redis
REDIS_URL=redis://localhost:6379

# ESP32 API Key
API_KEY_ESP32=your-esp32-static-api-key

# CORS (production only)
ALLOWED_HOSTS=yourdomain.com
CORS_ALLOWED_ORIGINS=https://yourfrontend.com

# Token lifetimes
ACCESS_TOKEN_LIFETIME_MINUTES=15
REFRESH_TOKEN_LIFETIME_DAYS=7

# MQTT (Mosquitto broker)
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_USERNAME=agrismart
MQTT_PASSWORD=your-mqtt-password
MQTT_CLIENT_ID=agrismart-django
MQTT_TOPIC_PREFIX=agrismart
